
@media screen and (max-width: 980px) {
    /* HEADER */
    .header_large {
        display: none;
    }

    .header_mobile {
        display: block;
    }

    .header_content_block_row_two {
        background: none;
    }
}