/* ABOUT SECTION*/
.about_section_container {
    padding: calc(var(--gap)*2.5) 0;
}

.about_section_content{
    display: grid;
    grid-template-columns: 1fr .9fr;
    gap: var(--gap);
}

.about_section_data_column {
    max-width: 600px;
}

.about_section_data_column_header .section_title {
    padding: 20px 0;
}

.about_data_bars_block {
    padding: var(--gap) 0 0;
}

.about_data_b_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 15px;
}

.about_data_b_bar_outer {
    width: 100%;
    height: 12px;
    background: var(--middle-light-grey);
}

.about_data_b_bar_progress {
    width: 90%;
    height: 12px;
    background: var(--orange);
}

.about_section_data_column_footer {
    padding: var(--gap) 0;
    display: flex;
    gap: var(--gap);
    align-items: center;
}

.about_footer_tel_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--gap)/2);
}

.about_footer_tel_block svg {
    height: 50px;
    fill: var(--orange);
}

.about_footer_tel_b_data_col {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)/4);
}

.about_footer_tel_b_data_col_text, .about_footer_tel_b_data_col_nr {
    color: var(--grey);
}

.about_section_photos_column_wrapper {
    position: relative;
}

.about_section_photos_column {
    display: flex;
    justify-content: end;
}

.about_section_photos_column img{
    object-fit: cover;
    border: 3px solid var(--white);
    border-radius: 5px;
}

.about_main_img {
    height: 620px;
}

.about_sec_img {
    height: 300px;
    width: 200px;
    top: 9%;
    left: -30%;
    z-index: 2;
    position: absolute;
}

.about_section_photos_column_data_block {
    /* height: 120px; */
    /* width: 280px; */
    bottom: 15%;
    left: -25%;
    z-index: 2;
    position: absolute;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: start;
    padding: calc(var(--gap)*1) calc(var(--gap)*1.2);
    border-radius: 10px;
    gap: 10px;
}

.about_section_photos_column_data_block svg {
    height: 60px;
    fill: var(--middle-dark-grey);
}

.about_section_photos_column_data_nr {
    font-size: 28px;
    line-height: 1;
}



/* STEPS */
.steps_block {
    padding: calc(var(--gap)*2) 0 0;
    position: relative;
    z-index: 0;
}

.steps_content {
    padding: var(--gap) 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.steps_card {
    background-color: var(--white);
    box-shadow: 0px 0px 42px 9px rgba(173, 173, 173, 0.18);
    border-radius: 10px;
    padding: var(--gap) var(--gap) calc(var(--gap)*1.2);
    transition: 50ms linear;
    margin: 0 0 calc(var(--gap)*3.5);
    border-bottom: 5px solid transparent;
}

.steps_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--gap)/1.5);
}

.steps_header_icon {
    border: 2px dashed var(--middle-light-grey);
    border-radius: 5px;
    padding: 10px 15px;
}

.steps_header_icon_wrapper svg{
    height: 50px;
}

.steps_header_line {
    width: 100%;
    height: 1.5px;
    background-color: var(--middle-light-grey);
}

.steps_header_num {
    font-size: 60px;
    font-weight: 600;
    color: var(--middle-light-grey);
    transition: var(--transition-one);
}

.steps_card_body {
    padding: calc(var(--gap)/1.5) 0;
}

.steps_card_body .smaller_section_title {
    padding: 0 0 calc(var(--gap)/3);
}

.steps_card_footer {
    height: auto;
    display: flex;
    align-items: end;
}

.steps_card_footer .orange_btn {
    background-color: var(--white);
    border: 1px solid var(--black);
    padding: 0;
    height: 50px;
    width: 180px;
}

.steps_card:hover{
    border-bottom: 5px solid var(--orange);
    margin: 0 0 calc((var(--gap)*3.5));
}

.steps_card:hover .orange_btn{
    background-color: var(--orange);
    border: 1px solid var(--orange);
}

.steps_card:hover .steps_header_num{
    color: var(--orange);
}

.steps_card_footer .orange_btn:hover {
    background-color: var(--black);
    border: 1px solid var(--black);
    padding: 0;
    height: 50px;
    width: 180px;
}


/* TESTIMONIALS */
.testionials_container {
    padding: calc(var(--gap)*3.5) 0 calc(var(--gap)*3);
    background: url('../../media/img/testimonial-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonials_row {
    display: flex;
    align-items: center;
    padding: calc(var(--gap)*1.8) calc(var(--gap)*1) 0;
    overflow: hidden;
}

.testimonials_card_group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    width: 100%;
    animation: .4s ease-out 0s normal forwards 1 running testimonials-switch-animation;
    opacity: .2;
    transform: translateX(10%);
}

@keyframes testimonials-switch-animation {
    0%{
        opacity: 0;
        transform: translateY(3%) scale(1.001);
    }
    100%{
        opacity: 1;
        transform: translate(0) scale(1);
    }
}

.testimonials_card_group_fade_out {
    animation: .4s ease-out 0s backwards testimonials-switch-fade-out-animation;
}

@keyframes testimonials-switch-fade-out-animation {
    0%{
        opacity: 1;
        transform: translate(0) scale(1);
    }
    100%{
        opacity: 0;
        transform: translateY(3%) scale(1.001);
    }
}


.testimonials_card {
    background: var(--white);
    border-radius: 6px;
    padding: calc(var(--gap)*1.2) calc(var(--gap)*.8);
}

.testimonials_card_header {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: calc(var(--gap)/2);
}

.testimonials_card_icon {
    border: 3px solid var(--orange);
    border-radius: 50%;
    height: calc(var(--gap)*2.5);
    width: calc(var(--gap)*2.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.testimonials_card_icon svg {
    transform: scale(1.2, 1.2) translateY(5px);
    fill: var(--light-grey);
}

.testimonials_card_header_info {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0px;
}

.testimonials_card_details {
    line-height: 1;
    padding: 0 0 10px;
}

.testimonials_card_rating{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
}

.testimonials_card_rating svg{
    height: calc(var(--gap)/2.5);
    fill: var(--orange);
}

.testimonials_card_bar {
    height: 1px;
    background-color: var(--middle-light-grey);
    margin: 20px 0;
}

.testimonials_control {
    padding: calc(var(--gap)*1.5) 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.testimonials_control_btn {
    border-radius: 50px;
    height: 10px;
    width: 30px;
    background-color: var(--middle-grey);
    cursor: pointer;
    transition: var(--transition-one);
}

.testimonials_active {
    background: var(--orange);
    width: 50px;
}


/* PARTNERS */
.partners_block {
    padding: calc(var(--gap)*3) 0;
}

.partners_content {
    padding: calc(var(--gap)*1.3) 0 0;
    display: flex;
    justify-content: space-between;
}

.partner_item img{
    max-height: 100px;
    filter: grayscale(100%);
    transition: var(--transition-one);
}

.partner_item img:hover {
    filter: grayscale(0);
}