.cars_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(var(--gap)/1.5) 0;
    padding: calc(var(--gap)*3) 0;
}



/* CAR CARDS */
.car_card {
    padding: var(--gap);
    border: 2px solid var(--middle-grey);
    border-radius: 10px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.car_card_bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffdf9a7e;
    opacity: 0;
    transform: translateY(100%);
    transition: var(--transition-one);
}

.car_card:hover .car_card_bg {
    transform: translateY(0%);
    opacity: 1;
}

.car_card:hover {
    border: 2px solid var(--orange);
}

.car_card_header {
    display: flex;
    align-self: center;
    justify-content: center;
    padding:  0 0 var(--gap);
}

.car_card_header img {
    width: 200px;
    /* height: 10px; */
    object-fit: cover;
}

.car_name {
    height: 50px;
}

.car_name a{
    font-size: 20px;
}

.car_details_list {
    padding: calc(var(--gap)/2) 0;
}

.car_details_l_item {
    display: flex;
    gap: 12px;
    font-size: 16px;
    align-items: center;
}

.car_details_l_item .car_details_l_i_name, .car_details_l_item .car_details_l_i_data{
    color: var(--grey);
    line-height: 2.3;
}

.car_card_rating {
    display: flex;
    gap: 5px;
    align-items: center;
}

.car_card_rating svg{
    fill: var(--orange);
    height: 15px;
}

.car_card_rating svg:nth-child(5){
    fill: var(--white);
}

.car_card_footer .orange_btn{
    width: 100%;
    background: none;
    border: 1px solid var(--black);
}

.car_card_footer .orange_btn:hover{
    background: var(--black);
    color: var(--orange);
}

.car_card_footer .orange_btn:hover svg{
    fill: var(--orange);
}