/* FOOTER */
.footer_content_wrapper {
    background-color: var(--light-black);
}

.footer_content_row_one {
    padding: calc(var(--gap)*3.5) 0 calc(var(--gap)*1.5);
}

.footer_content_row_one_block {
    display: flex;
    justify-content: space-between;
}

.footer_content_row_one_logo img {
    height: 40px;
}

.footer_content_row_one_social {
    display: flex;
    gap: calc(var(--gap)/1.5);
}

.footer_content_social_icon_btn.content_social_icon_btn {
    background-color: var(--tansparent-white);
}

.footer_content_social_icon_btn.content_social_icon_btn svg{
    fill: var(--white);
}

.footer_content_row_two {
    border-top: solid 1px var(--middle-dark-grey);
    background: url(https://images.pexels.com/photos/5834954/pexels-photo-5834954.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

footer .dark_fader {
    background-color: var(--footer-dark-fader);
}

.footer_content_row_two_block {
    padding: calc(var(--gap)*2.5) 0 calc(var(--gap)*2.5);
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1.5fr;
    gap: calc(var(--gap)*2);
}

.footer_content_row_two_column {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)*1.3);
}

.footer_content_row_two_about_title {
    color: var(--light-grey);
    font-size: var(--medium-font-size);
    font-weight: var(--bold-font-weight);
}

.footer_content_row_two_about_text {
    color: var(--light-grey);
    font-size: var(--small-font-size);
}

.nav_category_title {
    color: var(--white);
    font-size: var(--medium-font-size);
    font-weight: var(--bold-font-weight);
}

.footer_nav_links_list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)/3);
}

.footer_nav_links_list_item_content {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
}

.footer_nav_links_list_item>a {
    display: block;
    width: fit-content;
}

.footer_nav_links_list_item_content svg {
    fill: var(--orange);
}

.footer_nav_links_list_item_content p {
    color: var(--light-grey);
    transition: var(--transition-one);
}

.footer_nav_links_list_item>a:hover .footer_nav_links_list_item_content p {
    color: var(--orange);
}


.footer_contacts_list {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)/2);
}

.footer_contacts_list_item{
    display: flex;
    gap: 15px;
    align-items: center;
}

.footer_contacts_list_item_text {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.footer_contacts_list_item_text p {
    font-size: var(--small-font-size);
    color: var(--light-grey);
}

.footer_content_row_three_block {
    padding: calc(var(--gap)/2) 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.copyright_block p{
    color: var(--grey);
    font-size: var(--small-font-size);
}

.disclaimer_block p{
    color: #3e444a;
    font-size: 12px;
    text-align: end;
}