/* HEADER */
header{
    position: relative;
    top: 0;
    z-index: 10;
}

/* Relative HEADER */
.header_container, .sticky_header_container {
    height: var(--header-container-height);
    /* Just for developement */
    /* background-color: cadetblue; */
}

.header_content_wrapper{
    padding: calc(var(--gap)/1.6) 0 0;
}

.header_content_block {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap)/1.6);
    position: relative;
    z-index: 12;
}

.header_content_block_row_one, .header_content_block_row_two, .header_content_block_row_one_contacts, .header_content_block_row_one_contacts_btn {
    display: flex;
    justify-content: space-between;
}

.header_content_block_row_one_contacts {
    gap: calc(var(--gap)/2);
    align-items: center;
}

.header_content_block_row_one_contacts_devidor {
    width: 1px;
    height: 100%;
    background-color: var(--grey);
}

.header_content_block_row_one_contacts_btn {
    gap: calc(var(--gap)/2);
    align-items: center;
    font-size: var(--small-font-size);
}

.header_content_block_row_one_contacts_btn p{
    color: var(--white);
}

.header_content_block_row_one_contacts_btn svg{
    fill: var(--orange);
    height: calc(var(--gap)/1.5);
    width: calc(var(--gap)/1.5);
}

.header_content_block_row_one_social {
    display: flex;
    gap: calc(var(--gap)/1.5);
}

.header_content_social_icon_btn svg{
    fill: var(--dark-grey);
    transition: var(--transition-one);
}

.header_content_social_icon_btn:hover svg{
    fill: var(--white);
}

.header_content_block_row_two {
    background: var(--white);
    align-items: center;
}

.header_logo_container {
    background: var(--orange);
    padding: calc(var(--gap)/2);
}

.header_logo_container img{
    width: 180px;

}

.header_nav_list{
    padding: 0 calc(var(--gap)/2);
    display: flex;
    gap: calc(var(--gap));
}

.header_nav_list_item_name p{
    font-size: var(--normal-font-weight);
    text-transform: uppercase;
    font-weight: var(--bold-font-weight);
    transition: var(--transition-one);
}

.header_nav_list_item_name:hover p{
    color: var(--orange);
}

/* Sticky HEADER */


.sticky_header_content_wrapper {
    background-color: var(--dark-grey);
    position: relative;
    z-index: 12;
}

.sticky_header_content_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sticky_header_nav_list p{
    color: var(--white);
}

.sticky_header_container {
    animation: 300ms ease-in-out 0s normal none 1 running header_fade_animation;
}

@keyframes header_fade_animation {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}





/* MOBILE HEADER */
.header_mobile {
    display: none;
}

#nav_btn {
    width: calc(var(--gap) * 1.3);
    height: calc(var(--gap) * 1.3);
    padding: 5px;
    border: 1px solid var(--white);
}

#nav_btn svg{
    width: 100%;
    height: 100%;
    fill: var(--white);
}

.header_mobile_container {
    position: fixed;
    top: var(--mobile-nav-top-margin);
    left: 0;
    width: 100vw;
    z-index: 3;
}

.mobile_nav_wrapper {
    background: var(--extra-light-grey);
}

#mobile_nav {
    position: relative;
    margin-top: 5px;
    opacity: 1;
    /* transform: translateY(0px); */
}

.mobile_nav_fade_in {
    opacity: .2;
    transform: translateY(-10%);
    animation: .4s ease-out 0s normal forwards 1 running mobile-nav-animation;
}


@keyframes mobile-nav-animation {
    0%{
        opacity: .2;
        transform: translateY(-10%);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.mobile_nav_fade_out {
    animation: .4s ease-out 0s backwards mobile-nav-fade-out-animation;
}

@keyframes mobile-nav-fade-out-animation {
    0%{
        opacity: 1;
        transform: translate(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-50%);
    }
}
























.mobile_nav_item {
    border-bottom: 1px solid var(--middle-grey);
    padding: 14px 20px;
}

.mobile_nav_item a{
    display: block;
    color: var(--grey);
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}