@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    /* GAP */
    --gap: 35px;

    /* SIZES */
    --header-container-height: 163px;
    --content-block-width: 1250px;
    --page-head-height: 450px;
    --input-heigth: 55px;
    --get-car-add-height: 270px;

    /* FONT-SIZES */
    --small-font-size: 14px;
    --medium-font-size: 18px;

    --small-sec-title-font-size: 27px;
    --medium-sec-title-font-size: 36px;

    /* FONT WEIGHT */
    --normal-font-weight: 400;
    --regular-font-weight: 500;
    --bold-font-weight: 600;

    /* COLORS */
    --grey: #636363;
    --light-grey: #9f9f9f;
    --middle-grey: #d7d7d7;
    --middle-light-grey: #e2e2e2;
    --extra-light-grey: #f5f5f5;
    --tansparent-white: #ffffff47;
    --orange: #FFC000;
    --black: #000;
    --light-black: #111;
    --dark-grey: #141b22;
    --middle-dark-grey: #1c2630;
    --transparent-white-2: #ffffff1c;
    --white: #fff;
    --dark-brown: #131211;
    --footer-dark-fader: #101010f0;
    --page-head-dark-fader: #171717ae;

    /* TRANSITIONS */
    /* Transition: Text color to orange */
    --transition-one: all .2s ease-out;

    /* BORDER RADIUS */
    --middle-border-radius: 10px;

}

/* GENERAL */
a, input, textarea, button, span {
    all: unset;
}

a, button{
    cursor: pointer;
}

input, textarea {
    box-sizing: border-box;
}

textarea {
    resize: vertical;
    min-height: calc(var(--input-heigth)*2);
    padding: 12px 2px 1px 15px;
}

input {
    padding: 1px 2px 1px 15px;
    height: var(--input-heigth);
    width: 100%;  
}

select {
    background: none;
    border-radius: 100px;
    border: 1px solid var(--black);
    padding: 0 20px;
    font-weight: 600;
    font-size: var(--small-font-size);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--dark-grey);
    font-family: "Poppins", serif;
    font-weight: var(--normal-font-weight);
    font-style: normal;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
}

::-webkit-scrollbar-thumb:hover {
    background: #c48d14;
}


/* GLOBAL CLASSES */
    /* BLOCKS */
    .content_block {
        max-width: var(--content-block-width);
        margin: auto;
    }

    .section_head {
        max-width: 600px;
        text-align: center;
    }


    /* FADERS */
    .dark_fader {
        background-color: var(--page-head-dark-fader);
    }

    /* INPUTS */
    .middle_radius_input {
        border-radius: var(--middle-border-radius);
    }

    .grey_input {
        background-color: var(--extra-light-grey);
        border: 1px solid var(--extra-light-grey);
    }
    .grey_input::placeholder{
        color: var(--light-grey);
    }

    /* BUTTONS & LINKS */
    .content_social_icon_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        height: var(--gap);
        width: var(--gap);
        border-radius: 50%;
    }
    .content_social_icon_btn svg {
        fill: var(--dark-grey);
        height: calc(var(--gap)/2);
        width: calc(var(--gap)/2);
    }

    .underlined_link {
        color: var(--dark-grey);
        font-size: var(--medium-font-size);
        text-decoration: underline;
    }

    .round_btn{
        height: 60px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        border-radius: 100px;
        font-weight: 600;
        transition: var(--transition-one);
    }
    .round_btn svg {
        width: 18px;
    }

    .orange_btn {
        background-color: var(--orange);
        border: 1px solid var(--orange);
    }
    .orange_btn svg {
        fill: var(--dark-grey);
    }
    .orange_btn:hover{
        background-color: var(--black);
        border: 1px solid var(--black);
        color: var(--white);
    }
    .orange_btn:hover svg {
        fill: var(--white);
    }
    
    .black_btn {
        position: relative;
        background-color: var(--black);
        border: 1px solid var(--black);
        color: var(--white);
    }
    .black_btn svg {
        fill: var(--white);
    }
    .black_btn:hover {
        background-color: var(--white);
        border: 1px solid var(--white);
        color: var(--black);
    }
    .black_btn:hover svg {
        fill: var(--black);
    }



    /* TEXT */
    .capitalise {
        text-transform: capitalize;
    }

    .section_title {
        padding: 5px 0 10px;
        line-height: 1.35;
    }

    /* .title_fade_in {
        opacity: 0;
        animation: 1s linear 3s normal forwards 1 running title_fade_animation;
    }

    @keyframes title_fade_animation {
        0% {
            opacity: 0;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    } */

    .smaller_section_title {
        font-size: 23px;
        color: var(--middle-dark-grey);
        font-weight: 600;
    }

    .small_section_title {
        font-size: var(--small-sec-title-font-size);
        color: var(--dark-grey);
        font-weight: 600;
    }

    .small_p {
        font-size: var(--small-font-size);
        color: var(--grey);
        line-height: 1.9;
    }

    .medium_p {
        font-size: var(--medium-font-size);
        color: var(--middle-dark-grey);
    }

    .extra_big_p {
        font-size: 55px;
        font-weight: 700;
    }

    .extra_big_title {
        font-size: 70px;
        font-weight: 700;
        line-height: 1.2;
    }

    .bold_p {
        font-weight: 700;
    }

    .orange_hover {
        transition: var(--transition-one);
    }

    .orange_hover:hover{
        color: var(--orange);
    }

    .orange_subtitle {
        color: var(--orange);
        font-size: var(--medium-font-size);
        font-weight: 700;
        text-transform: capitalize;
    }


/* BODY */

body{
    /* Just for developement { */
    background-color: #fdfdfd;
    /* } Just for developement */
}

/* main {
    height: 200vh;
} */

/* PAGE HEAD */
.page_head {
    margin: calc(var(--header-container-height)*-1) 0 0;
    background-color: var(--black);
}

.page_head_container {
    background: url('../media/img/page-head.jpg');
    /* background-position: 0 70%; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.page_head_content {
    height: var(--page-head-height);
    display: flex;
    align-items: end;
    padding: 0 0 calc(var(--gap) * 1.75);
}

.page_head_links {
    display: flex;
    gap: calc(var(--gap) / 2);
    align-items: center;
}

.page_title {
    color: var(--white);
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 1px;
}

.page_head_link {
    color: var(--light-grey);
}

.page_head_link_one {
    color: var(--white);
}

.page_head_links_devidor {
    width: 1px;
    height: 24px;
    background-color: var(--light-grey);
}

/* RENT CAR ADD */
.get_car_add_container{
    background-color: var(--orange);
}

.get_car_add_wrapper {
    /* height: var(--get-car-add-height); */
    padding: calc(var(--gap)*1.2) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.get_car_add_wrapper p {
    max-width: 60%;
}


