@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --header-container-height: 150px;
    --content-block-width: 1250px;
    --gap: 35px;
    --grey: #636363;
    --orange: #ffb61a;
    --black: #000;
    --small-font-size: 15px;
    --medium-font-size: 14px;
}

a, input, textarea {
    all: unset;
}

a{
    cursor: pointer;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.content_block {
    max-width: var(--content-block-width);
    margin: auto;
}

body{
    background-color: black;
}

.header_container {
    height: var(--header-container-height);
    background-color: cadetblue;
}

.header_content_wrapper{
    padding: calc(var(--gap)) 0 0;
}

.header_content_block_row_one, .header_content_block_row_two, .header_content_block_row_one_contacts, .header_content_block_row_one_contacts_btn {
    display: flex;
    justify-content: space-between;
}

.header_content_block_row_one_contacts {
    gap: calc(var(--gap)/2);
    align-items: center;
}

.header_content_block_row_one_contacts_devidor {
    width: 1px;
    height: 100%;
    background-color: var(--grey);
}

.header_content_block_row_one_contacts_btn {
    gap: calc(var(--gap)/2);
    align-items: center;
    font-size: var(--small-font-size);
}

.header_content_block_row_one_contacts_btn svg{
    fill: var(--orange);
    height: calc(var(--gap)/1.5);
    width: calc(var(--gap)/1.5);
}

.header_content_block_row_one_social {
    display: flex;
    gap: calc(var(--gap)/2);
}

.header_content_social_icon_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    height: var(--gap);
    width: var(--gap);
    border-radius: 50%;
}

.header_content_social_icon_btn svg {
    fill: var(--black);
    height: calc(var(--gap)/2);
    width: calc(var(--gap)/2);
}


